@import "../variables.scss";

.flag-container {
  .flag-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 30, 66, 0.6);
    z-index: 999;
  }
  .flag {
    box-shadow: $xl-box-shadow;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid $gray-20;
    max-width: 512px;
    min-width: 512px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    @media only screen and (max-width: 576px) {
      bottom: 0px;
      right: 0px;
      top: 50%;
      left: 50%;
      width: 100%;
      min-width: 100%;
      height: fit-content;
      transform: translate(-50%, -50%);
      .buttons {
        .flag-outline {
          margin-right: 0px !important;
        }
      }
    }

    background-color: $white;
    .flag-success-left {
      .left-image {
        width: 32px;
      }
      .success-flag-desc {
        margin-left: 16px;
        h3 {
          color: $gray-900;
          font-size: 18px;
          margin-bottom: 0px;
        }
        p {
          margin-bottom: 0px;
          font-size: 14px;
          color: $gray-500;
          margin-top: 4px;
        }
        .buttons {
          margin-top: 12px;
          button {
            height: 38px;
            cursor: pointer;
            padding: 8px 24px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 4px;
            transition: $base-transition;
            width: fit-content;
          }
          .flag-outline {
            border: 1px solid $gray-60;
            color: $gray-500;
            background-color: $white;
            margin-right: 8px;
            &:hover {
              background-color: $gray-20;
            }
          }
          .primary {
            background-color: $blue-500;
            color: $white;
            border: none;
            &:hover {
              background-color: $blue-600;
            }
          }
        }
      }
    }
    .close-icon {
      svg {
        cursor: pointer;
      }
    }
  }
}

.error-flag {
  .base-button.primary {
    background-color: $red-500 !important;
    svg {
      path {
        fill: $white !important;
      }
    }
  }
  .base-button.primary.disabled {
    color: $white !important;
    cursor: no-drop;
    background-color: $gray-30 !important;
    color: #000 !important;
    border: none;
    pointer-events: none;
    svg {
      path {
        fill: $gray-400 !important;
      }
    }
  }
}

.info-flag {
  .base-button.primary.disabled {
    color: $white !important;
    cursor: no-drop;
    background-color: $gray-30 !important;
    color: #000 !important;
    border: none;
    pointer-events: none;
    svg {
      path {
        fill: $gray-400 !important;
      }
    }
  }
}
